@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.content {
  background-image: url('../images/car-bg.jpg');
  min-height: calc(100vh - 102px);
  background-position: center center;
  background-size: auto;
}

header {
  display: flex;
  height: 83px;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-around;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.logo-text  h1{
  font-size: 40px;
  font-weight: 200;
}

.logo-icon i {
  padding-right: 15px;
}

.menu {
  display: flex;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}


.menu ul li a {
  padding: 16px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
}

.menu ul li a:hover {
  border-bottom: 1px solid #00c2ff;
}

.menu ul li .hightlite:hover {
  border-bottom: 0;
}

.menu ul li .selected {
  font-weight: bold;
}


/* Menu mobile */

  .menu-mobile {
    display: none;
    width:40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 35px;
    margin-right: 40px;
  }

  .menu ul{
    display: flex;
  }

  .mm-line {
    height: 2px;
    margin-bottom: 8px;
    background-color: rgb(136, 130, 130);
  }


 .hightlite {
    padding: 16px;
    background-color: #00c2ff;
    color: #fff;
}

.main {
  margin-top: 200px;
}

.main h1 {
  font-size: 50px;
  color: #00c2ff;
}

.main p {
  color: #fff;
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.main a {
  width: 170px;
  padding: 16px;
  background-color: #00c2ff;
  color: #fff;
  text-decoration: none;
}

.main .container {
  flex-direction: column;
}

footer {
  display: flex;
  height: 102px;
  background-color: #000;
  color:#fff;
}

 footer .container ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}
.container ul strong {
  color: #00c2ff;
}

@media (max-width:768px) {
  header .container{
    width: 100%;
  }

  .logo-text h1 {
    font-size: 38px;
  }

  .menu ul li a {
    padding: 10px;
  }

  .main .container {
    width: 100%;
    padding: 20px;
  }

  .main h1 {
    font-size: 40px;
  }

  .main p {
    margin-top: 12px;
    font-size: 22px;
  }

  footer .container ul {
    padding: 20px;
  }
}

@media (max-width: 425px) {

  .content {
    background-image: url('../images/car-bg.jpg');
    background-position: center center;
    background-size: cover;
  }

  header .container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
  }

  header {
    height: auto;
  }

  header .logo-container {
    width: 100%;
  }

  .menu-mobile {
    display: block;
  }

  .menu ul {
    flex-direction: column;
    position: absolute;
    align-items: flex-start;
    left: 0;
    width: 100%;
    padding-left: 20px;
  }

  .menu ul li {
    margin-top: 5px;
    margin-bottom: 3px;
  }

  .menu ul li a {
    font-size: 14px;
    padding: 5px;
  }

  .logo-container {
    justify-content: start;
  }

  .main .container {
    width: 100%;
  }

  .main h1 {
    font-size: 32px;
  }

  .main p {
    font-size: 16px;
  }

  .main a {
    padding: 10px;
  }

  footer {
    width: 100%;
    height: auto;
  }

  footer .container {
    width: 100%;
    height: auto;
  }

  footer .container ul {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width:320px) {
  header .container {
    width: 100%;
  }

  .logo-text h1 {
    font-size: 28px;
  }
  .menu ul {
    display: none;
  }

  .menu-mobile {
    margin-top: 26px;
  }

  .main h1 {
    font-size: 28px;
  }

  .main a {
    padding: 5px;
  }

  footer .container ul li  {
    margin-bottom: 12px;
  }
}